@page "/counter"
@using Tizzani.QueryStringSerializer.Blazor
@inject NavigationManager NavigationManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    public int CurrentCount { get; set; }

    protected override void OnParametersSet()
    {
        var counter = NavigationManager.GetQueryObject<Counter>();
        CurrentCount = counter?.CurrentCount ?? CurrentCount;
    }

    private void IncrementCount()
    {
        CurrentCount++;
        NavigationManager.NavigateToWithQuery("counter", this);
    }
}
